name: Mlops Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          pytest tests/ --maxfail=1 --disable-warnings

      - name: Build Docker Image
        run: |
          docker build -t sales-forcast-api:ci .


      - name: Test Docker container
        run: bash tests/test_api.sh


      - name: Push Docker image
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker tag sales-forcast-api:ci your-dockerhub-username/sales-forcast-api:latest
          docker push your-dockerhub-username/sales-forcast-api:latest
