name: Mlops Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          pytest tests/ --maxfail=1 --disable-warnings

      - name: Build Docker Image
        run: |
          docker build -t sales-forecast-api:ci .


      - name: Test Docker container
        run: |
         docker run -d -p 8001:8001 --name test-api sales-forcast-api:ci
         sleep 5 
          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" -X POST http://localhost:8001/predict \
            -H "Content-Type: application/json" \
            -d '{"data":[{"Store":1,"DayOfWeek":5,"Open":1,"Promo":0}]}')
          docker stop test-api
          if [ "$RESPONSE" -ne 200 ]; then
            echo "API test failed!"
            exit 1

      - name: Push Docker image
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker tag sales-forecast-api:ci your-dockerhub-username/sales-forecast-api:latest
          docker push your-dockerhub-username/sales-forecast-api:latest
