name: MLOps Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Get your code into the runner
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Set Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3️⃣ Install Python dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

#model versioning
      - name: Set version
        run: |
          echo "VERSION=${GITHUB_SHA::7}" >> $GITHUB_ENV

      # run training to pass the version

      - name: Run Training
        shell: bash
        run: |
          VERSION=dev
          python src/train.py --version $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Run Evaluation
        run: |
             python src/evaluate.py 
         

      # 4️⃣ Run unit tests (data + model tests)
      - name: Run tests
        run: |
          pytest tests/ --maxfail=1 --disable-warnings

      

      # 5️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t sales-forcast-api:${{ env.VERSION}} .

      # 6️⃣ Test API inside Docker container
      - name: Test API container
        run: |
          bash tests/test_api.sh

      # 7️⃣ Login to Docker Hub (NON-interactive)
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 8️⃣ Tag & push image
      - name: Push Docker image
        run: |
          docker tag sales-forcast-api:ci ${{ secrets.DOCKER_USERNAME }}/sales-forcast-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/sales-forcast-api:latest
